body {
  font-family: $font-family-roboto;
  background: $color-alabaster;
  color: $color-shark;
  padding: 40px 0;
  min-width: 960px;
}
.body_modal {
  overflow: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
button,
input {
  border: none;
  &:focus {
    outline: none;
  }
}