// Color variables
$color-white: #ffffff;
$color-alabaster: #F7F7F7;
$color-mercury: #E5E5E5;
$color-geyser: #DAE0E5;
$color-atlantis: #96C22B;
$color-sushi: #72BF44;
$color-japanese-laurel: #009810;
$color-apple: #47b247;
$color-shark: #2E3134;
$color-crail: #BF4444;

$font-weight-bold: 700;

$transition-duration: 0.5s;

// Fonts variables
$font-family-roboto: 'Roboto', sans-serif;
$font-family-roboto-condensed: 'Roboto Condensed', sans-serif;